/* src/components/LecView/LecDash.css */
.dashboard-container {
  padding-top: 5px;
    /* padding: 20px; */
  }

  .dash{
    padding-left: 20px;
  }
  
  .class-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .class-tile {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
  }
  
  .class-tile h3 {
    margin: 0 0 10px;
  }
  
  .class-tile p {
    margin: 0 0 15px;
  }
  
  .view-class-button {
    padding: 10px 20px;
    background-color: #f1a619;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .view-class-button:hover {
    background-color: #e09017;
  }
  