/* components/Topbar.css */

.topbar {
    background-color: rgba(0, 0, 0, 0.5); /* 50% opacity */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-icon {
    color: gray;
    margin-right: 8px;
  }
  
  .search-input {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 4px 8px;
    font-size: 16px;
  }
  
  .search-input:focus {
    outline: none;
    border-color: #2d6cdf;
  }
  
  .topbar-icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .icon {
    font-size: 24px;
    color: gray;
  }
  
  .icon:hover {
    color: #2d6cdf; /* Blue on hover */
  }
  