.main-content{
    margin-left: 250px;  /* Leave space for the fixed sidebar */
    padding-left: 50px;
    width: calc(100% - 250px); /* Adjust width for the remaining space */
    overflow-y: auto;     /* Allow vertical scrolling for the main content */
    height: 100vh;        /* Full height for the main content */
    background-color: white;
}